- groups.each do|group|
  .side__groups__group
    .side__groups__group__name
      = group.name
    .side__groups__group__message
      - if group.messages.present?
        = group.messages.last.body
      - else
        まだメッセージはありません
