- groups.each do|group|
  %div.side__groups__group
    %div.side__groups__group__name
      = group.name
    %div.side__groups__group__message
      - if group.messages.present?
        = group.messages.last.body
      - else
        まだメッセージはありません
