- groups.each do|group|
  .side__groups__group
    .side__groups__group__name
      = link_to group.name, group_messages_path(group)
    .side__groups__group__message
      - if group.messages.empty?
        まだメッセージはありません
      - elsif group.messages.last.body.present?
        = group.messages.last.body
      - else
        画像が投稿されています
